.imgs{
  height: 190px;
  width: 190px;
}
p{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}
.perifericos{
  display: flex;
}
.peri{
  border: blue solid;
}
button:hover{
  color: #fff;
  background-color: blue;
}
button{
  color: black;
  border: 1px solid #fff;
  opacity: 1;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  max-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}